.menu-upy{
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 100px);
    box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
    .item-menu{
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        cursor: pointer;
        font-size: 14px;
        color: #303133;
        white-space: nowrap;
        position: relative;
        &:hover {
            background: #ecf5ff;
            .hover-item-menu{
                display: block;
            }
        }
        .title {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding-left: 48px;
            color: #303133;
            &:hover {
                text-decoration: none
            }
        }
        .icon{
            width: 18px;
            height: 18px;
            margin-right: 10px;
        }
        .hover-item-menu{
            position: absolute;
            left: 100%;
            top: 5px;
            display: none;
            .conent-hover-item-menu{
                position: relative;
                margin-left: 5px;
                padding: 0 10px;
                border-radius: 5px;
                background: #303133;
                color: #fff;
                font-size: 14px;
                height: 40px;
                line-height: 40px;
                .conent-arrow{
                    position: absolute;
                    top: calc(50% - 6px);
                    left: -4px;
                    background: #303133;
                    width: 12px;
                    height: 12px;
                    transform: rotate(45deg);
                }
            }
        }&.active{
            .title {
                color: #409EFF;
            }
        }
    }
    .item-submenu-menu{
        position: relative;
        &:hover{
            .sub-menu-conent-zomm-in{
                display: block;
            }
        }
        .title-submenu{
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            cursor: pointer;
            font-size: 14px;
            color: #303133;
            white-space: nowrap;
            position: relative;
            background: #fff;
            &:hover {
                background: #ecf5ff;
            }
            .icon{
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }
            .icon-sub-menu{
                width: 12px;
                height: 12px;
                transform: rotate(-90deg);
                position: absolute;
                top: 50%;
                right: 20px;
                margin-top: -6px;
                transition: transform .3s;
            }
            span{
                vertical-align: middle;
            }
        }
        .sub-menu{
            height: 0;
            animation-fill-mode: both;
            animation-timing-function: ease-out;
            overflow: hidden;
            transition: height 0.3s ease-in-out 0s;
            .item-submenu{
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                padding: 0 40px 0 30px;
                font-size: 14px;
                color: #303133;
                white-space: nowrap;
                &:hover {
                    background: #ecf5ff;
                }
            }
            .active{
                color: #409EFF;
            }
        }
        .sub-menu-conent-zomm-in{
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            z-index: 10000;
            .conent-zoom-in{
                margin-left: 3px;
                background: #fff;
                border-radius: 5px;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                padding: 10px 0;
                width: 250px;
            }
            .item-submenu{
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                padding: 0 40px 0 30px;
                font-size: 14px;
                color: #303133;
                white-space: nowrap;
                &:hover {
                    background: #ecf5ff;
                }
            }
        }
    }
}
.button-zoom-dashboard{
    background: #fff;
    border-top: 1px solid #ddd;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    img{
        width: 15px;
        height: 15px;
    }
    span{
        color: #303133;
        white-space: nowrap;
        font-size: 14px;
    }
    &:hover{
        background: #e9ecef;
    }
}
